<section class="details-page">
    <h1>Details</h1>
    <article class="details-card">

        <article class="details-card-text">
            <h2>Title:<br> {{book.title}}</h2>
            <h3>Author: {{book.author}}</h3>
            <h3>Stars: {{book.stars}}</h3>
            <h3>Genre: {{book.genre}}</h3>
            <h3>Review: {{book.bookReview}}</h3>

            {{#if loggedUser}}
            <div class="buttons">
                {{#if isOwner}}
                <a href="#" class="btn-edit">Edit</a>
                <a href="#" class="btn-delete">Delete</a>
                {{/if}}
                {{#if notOwner}}
                {{#if alreadyWished}}
                <p class="wish-pub">You already added the book to your wish list</p>
                {{else}}
                <a href="/books/{{book._id}}/wish" class="btn-wish">Wish to read</a>
                <!-- logged in user who has already wished book-->
                {{/if}}
                {{/if}}
            </div>
            {{/if}}

        </article>

        <article class="details-card-image">
            <img src="{{book.image}}">
        </article>

    </article>
</section>